* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body { 
    font: 13px Helvetica, Arial; 
    padding-bottom: 2.2%;
}

form { 
    background: green; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    padding: 0.1%;
    height: 5%;
}

form input { 
    width: 90%; 
    height: 99.79%;
}

form button { 
    width: 9.79%; 
    background: yellow; 
    height: 99.79%;
}

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

#messages li { 
    padding: 5px 10px; 
}

#messages li:nth-child(odd):not(#myMsg) { 
    background: gray; 
}

#myMsg { 
    background: red; 
}

#myMsg:nth-child(odd){
    background: green
}